<ul class="nav">
  <li><a href="http://www.thecrimson.com"><i class="icon-hand-left"></i> TheCrimson</a></li>
  <li><%= link_to "Home", root_path, :class => 'a' %></li>
  <li><a href="#">Services</a></li>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% end %>
</ul>
